.app {
  display: flex;
  flex-direction: column;
}

.week {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.day {
  display: flex;
  align-content: center;
  justify-content: center;
  color: rgb(150, 52, 128);
  border: 10px;
  border-color: pink;
  border-style: solid;
  flex-grow: 1;
}

.puffcreator {
  color: rgb(150, 52, 128);
  font-size: larger;
}
