.app {
  display: flex;
  flex-direction: column;
}

.month {
  display: flex;
  max-width: 850px;
  flex-wrap: wrap;
}

.day {
  display: flex;
  align-content: center;
  justify-content: center;
  color: rgb(150, 52, 128);
  border: 10px;
  border-color: pink;
  border-style: solid;
  width: 100px;
  height: 100px;
}

.puffcreator {
  color: rgb(150, 52, 128);
  font-size: larger;
}
